/*stylesheet*/
/* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 

    justify-content: center; */

html {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    margin-top: 170px;
    padding: 20px;
    background: content-box linear-gradient(#ffcffc, #c7ecfd);
    color: #333;
    font-family: Arial, sans-serif;
}

.heart {
    font-size: 5em;
    color: #ff4da3;
}

h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #FF0080 10.76%, #F600A1 55.51%, #D0F 96.87%);
    background-clip: text;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Scada', sans-serif;
}

.intro label {
    display: block;
    margin-bottom: 35px;
    font-size: 1.2em;
    text-align: center;
}

.formulario-jardin {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.formulario {
    width: 83%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Efecto al presionar el boton */
.btn:active,
.btn-secundario:active {
    transform: translateY(2px) scale(0.98);
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    opacity: 0.85;
}

.btn-formulario {
    display: block; /* FLEX AQUI */
    justify-content: space-between; /* Space between */
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 500px;
    width: 100%;
}

.btn {
    width: 340px;
    height: 40px;
    padding: 5px 15px;
    border: 1px;
    border-radius: 8px; 
    background: linear-gradient(111deg, #FF0080 10.49%, #D0F 95.51%);
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    gap: 5px;
}

.btn-secundario {
    width: 340px;
    height: 40px;
    margin-top: 20px;
    padding: 5px 15px;
    border: 3px solid #ff4da3;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}



/* ------------------------------
    Responsive Design: móviles
   ------------------------------ */

@media (max-width: 768px) {
    .formulario-jardin {
        width: 90%;
    }

    .btn,
    .btn-secundario {
        width: 100%;
    }
}